.split-parent {
  display: inline-block;
  position: relative;
}

.split-line {
  display: block;
  overflow: hidden;
  text-align: inherit;
}

.split-word {
  display: inline-block;
  white-space: nowrap;
}

.split-char {
  display: inline-block;
  will-change: transform, opacity;
}
